[submodule "gogs"]
	path = gogs
	url = https://github.com/hpcsc/gogs
[submodule "registry"]
	path = registry
	url = https://github.com/hpcsc/registry
[submodule "sonarqube"]
	path = sonarqube
	url = https://github.com/hpcsc/sonarqube
